@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@700&display=swap');
.content{
    display:flex;
    flex-direction: column;
}
.container {
  display:flex;
  font-family: 'Enriqueta', serif;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
}
.container>img{

        width: 100%;
        height: auto;
      
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    
}
@media screen and (max-width: 1000px) {
    .container{
        justify-content: center;
    }
    .text>p{
        width:100vw;
        font-size:8px;
        padding:5px;
    }
}