@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap');
.news{
    display: flex;
    flex-direction: column;
    flex-basis:30%;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
    border-radius: 20px;
    position: relative;
   
}
.img{
    width: 100%;
    height: auto;
}

.newsTitle>h1,.description>p{
    margin:0;
    font-family: 'Pragati Narrow', sans-serif;
}
.newsTitle{
    display: flex;
    justify-content: center;
    padding:10px;
    align-items: center;
    gap:70%;
}
.icon{
    color:grey;
    position:absolute; 
    z-index: 1;
    top:10px;
    font-size: 17px;
    left:10px;
}
.icon:hover{
    color:rgb(79, 62, 158);      ;
}

.description{
    padding:10px;
}
@media screen and (max-width: 930px) {
    .news{
        flex-basis: auto;
        width: 70%;
        
       
    }
    .description>p{
        display: none;
    }
    
}
